*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#face{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background-color: black; */
  border: 2px solid black;
}
.ear {
    position: absolute;
    width: 50px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

#leftEar {
    top: 45;
    left: -47px;
}

#rightEar {
    top: 43;
    right: -47px;
}

.eye{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}
#leftEye{
    left: 32px;
    top: 40px;

}
#rightEye{
    top: 40px;
    right: 30px;
}
#nose{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}
.noses{
    top: 57%;
    left: 37%;
}
/* #btn{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
} */
